<IfModule mod_rewrite.c>
    RewriteEngine On

    # Stop processing if the requested path is a real file or directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Forward all other requests to index.php
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>
